!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.navbar
      div.navbar-inner
        div.container
          a.brand(href='/') Your node app!
    div#main!=body
